
@{
    ViewBag.Title = "PalindromeDemo";
}






<div class="row mb-5" id="gameName">
    <div class="col-sm-12 text-center h1 font-weight-bolder">
         <div class="col-lg-12 h1 text-center">
             The Sum of All Fears
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="row mb-5">
                <div class="form-group">
                    <label for="newWord">Word:</label>
                    <input id="palIn" type="text" class="form-control" placeholder="Enter your word" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <card class="card-body">
            <div class="card-text p-4">
                                <p id="palOut" class="text-center h4"></p>
            </div>
        </card>
    </div>
</div>
<div class="row">
    <div class="d-inline-block ml-2">
        <button id="btnPal" type="button" class="btn">Start</button>

        <button id="btnToggleCode" type="button" class="btn btn-light">Show Code</button>

        <button id="btnClear" type="button" class="btn">Clear</button>
    </div>
</div>
   
 <div class="row">
        <div class="col-md-12">
            <div id="code">
                <pre class="brush:js">
                   
                        
                    $("#btnPal").click(function (){

                        var word = $("#palIn").val();
                        var revWord = "";
           
                        for (var i = word.length - 1; i >= 0; i--) {
                            revWord += word.substr(i, 1);
                        }

                        if (revWord == word) {
                            $("#palOut").text("This is Palindrome:" + ' ' + revWord);
                        } else {
                            $("#palOut").text("This is not Palindrome:" + ' ' + revWord);
                        }
                    });

                    $("#btnClear").click(function () {
                        $("#palOut").text('');
                        $("#palIn").val('');
                    });

                    $("#code").hide();
                    $("#btnToggleCode").click(function () {
                        $("#code").toggle();
                        if ($(this).text() == "Show Code") {
                            $(this).text("Hide Code");
                        } else {
                            $(this).text("Show Code");
                        }
                    });
                  
                </pre>
            </div>
        </div>
    </div>



